#boardList,
#boardDetail {
    padding: 55px 0 0 55px;
}

.boardWrap {
    width: 100%;
    height: calc(100vh - 55px);
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: var(--white);
}

.board__cate {
    display: flex;
}

.board__cate>.btn {
    color: rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.board__cate>.btn:first-child {
    margin-right: 1rem;
}

.board__cate>.btn.active {
    color: #0057FF;
    border-color: #0057FF;
}

/* board__cate */

.board__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.board__search>.search__left>p {
    font-size: 1.5rem;
    font-weight: 700;
}

.board__search>.search__right>form>fieldset {
    border: 0;
}

.board__search>.search__right>form>fieldset>input {
    width: 340px;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.board__search>.search__right>form>fieldset>input:focus {
    outline: 0;
}

/* board__search */

.board__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}

.board__btn .nav__left {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

.board__btn fieldset {
    border: none;
    display: flex;
    align-items: center;
}

.board__btn fieldset label {
    margin-right: 10px;
}

.board__btn fieldset input {
    width: 25px;
    height: 25px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-right: 5px;
}

.board__btn>.nav__right>.nav__write {
    color: var(--white);
    background-color: #0057FF;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 100px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;

}

/* board__btn */

.board__list>ul {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.board__list>ul>li {
    width: 100%;
    padding: 35px 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board__list>ul>li>.list__left>.left__title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.board__list>ul>li>.list__left>.left__title>.hot {
    padding: 7px 30px;
    color: #0057FF;
    background-color: rgba(0, 87, 255, 0.1);
    border-radius: 5px;
    margin-right: 1.5rem;
    font-size: 1rem;
    display: none;
}

.board__list>ul>li>.list__left>.left__title>.hot.active {
    display: inline-block;
}

.board__list>ul>li>.list__left>.left__title>.title>h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.board__list>ul>li>.list__left>.left__desc {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.board__list>ul>li>.list__left>.left__desc>.boardImg>img {
    max-height: 100px;
}

.board__list>ul>li>.list__left>.left__desc>p {
    font-size: 0.9rem;
    color: #B8BAC1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.board__list>ul>li>.list__left>.left__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board__list>ul>li>.list__left>.left__info>.info__left {
    display: flex;
}

.board__list>ul>li>.list__left>.left__info>.info__left>div {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.board__list>ul>li>.list__left>.left__info>.info__left>div>svg {
    width: 1rem;
    height: 1rem;
    fill: rgba(0, 0, 0, 0.5);
    margin-right: 0.3rem;
}

.board__list>ul>li>.list__left>.left__info>.info__left>div>span {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.board__list>ul>li>.list__left>.left__info>.info__right {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.nav__sort input[type="checkbox"] {
    display: none;
}

.nav__sort .indicator {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: var(--white);
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 5px;
}

.nav__sort .indicator::after {
    content: '';
    position: absolute;
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

.nav__sort input[type="checkbox"]:checked+.indicator {
    background-color: #0475fe;
}

.nav__sort input[type="checkbox"]:checked+.indicator::after {
    display: block;
}

/* //board__list */

/* ------------------ */
.board__detail {
    margin: 40px 0;
    padding: 35px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.board__detail>.cate::first-letter {
    text-transform: uppercase;
}

.board__detail>.cate {
    font-size: 1.2rem;
    font-weight: 700;
    display: none;
}

.board__detail>.title {
    margin-bottom: 25px;
}

.board__detail>.title>p {
    font-size: 2rem;
    font-weight: 700;
}

.board__detail>.profill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.board__detail>.profill>.profill__left {
    display: flex;
    align-items: center;
}

.board__detail>.profill>.profill__left>.text {
    font-size: 1rem;
    color: #7D7D7D;
}

.board__detail>.profill>.profill__left>.text>.name {
    font-size: 1.2rem;
    font-weight: 700;
}

.board__detail>.profill>.profill__left>.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-right: 1rem;
}

.board__detail>.profill>.profill__left>.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.board__detail>.profill>.profill__right {
    display: flex;
    align-items: center;
}

.board__detail>.profill>.profill__right>div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--navy);
    margin-right: 1rem;
}

.board__detail>.profill>.profill__right>div:last-child {
    margin-right: 0;
}

.board__detail>.profill>.profill__right>div>svg {
    margin-right: 15px;
    fill: rgba(0, 0, 0, 0.5);
}

.board__detail>.profill>.profill__right>div>span {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.board__detail>.desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.board__detail>.desc .boardImg {
    margin-bottom: 25px;
    max-width: 25%;
    min-width: 150px;
    width: 100%;
}

.board__detail>.desc>p {
    font-size: 1rem;
    line-height: 1.5;
}

.board__detail>.bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.board__detail>.bottom>.tagWrap {
    display: flex;
}

.board__detail>.bottom>.tagWrap>.tag {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #F4F6FA;
    margin-right: 10px;
}

.board__detail>.bottom>.btnWrap {}

.board__detail>.bottom>.btnWrap>.modify,
.board__detail>.bottom>.btnWrap>.delete {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    background-color: #B8BAC1;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.board__detail>.bottom>.btnWrap>.modify.active,
.board__detail>.bottom>.btnWrap>.delete.active {
    display: inline-block;
}

.board__detail>.bottom>.btnWrap>.list {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    background-color: #0057FF;
}

.commentWrite {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
}

.commentWrite>form>fieldset {
    border: 0;
}

.commentWrite>form>fieldset>textarea {
    width: 100% !important;
    height: 130px !important;
    resize: none;
    padding: 40px;
    background-color: transparent;
}

.commentWrite>form>fieldset>textarea:focus {
    outline: none;
}

.commentWrite>form>fieldset>.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.commentWrite>form>fieldset>.bottom>.bottom__left {
    display: flex;
    align-items: center;
    padding: 15px;
}

.commentWrite>form>fieldset>.bottom>.bottom__left>label {
    display: flex;
    margin-right: 0.5rem;
    cursor: pointer;
}

.commentWrite>form>fieldset>.bottom>.bottom__left>label>svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

.commentWrite>form>fieldset>.bottom>.bottom__left>span {
    font-size: 0.8rem;
    color: #B8BAC1;
    line-height: -1;
}

.commentWrite>form>fieldset>.bottom>.bottom__left>input {
    display: none;
}

.commentWrite>form>fieldset>.bottom>button {
    width: 130px;
    height: 55px;
    color: var(--white);
    background-color: #0057FF;
    cursor: pointer;
}

.commentWrap>ul {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.commentWrap>ul>li {
    margin: 30px 0;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.commentWrap>ul>li>p {
    margin-bottom: 35px;
}

.commentWrap>ul>li>.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.commentWrap>ul>li>.bottom>.bottom__left {
    display: flex;
    align-items: center;
}

.commentWrap>ul>li>.bottom>.bottom__left>.img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.commentWrap>ul>li>.bottom>.bottom__left>p {
    font-size: 1rem;
    color: #7D7D7D;
}

.commentWrap>ul>li>.bottom>.bottom__left>p>span {
    font-size: 1.1rem;
    font-weight: 700;
}

.commentWrap>ul>li>.bottom>.bottom__right>button {
    background-color: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
    margin-left: 5px;
    transition: color 0.3s;
}

.commentWrap>ul>li>.bottom>.bottom__right>button:hover {
    color: #0057FF;
}

/* 댓글 밑에 있는 목록 버튼 css */
.commentWrap__listBtn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.commentWrap__listBtn>a {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--black);
    font-size: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* editwrite */
.editWrite {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
}

.editWrite>form>fieldset {
    border: 0;
}

.editWrite>form>fieldset>textarea {
    width: 100% !important;
    height: 130px !important;
    resize: none;
    padding: 40px;
    background-color: transparent;
}

.editWrite>form>fieldset>textarea:focus {
    outline: none;
}

.editWrite>form>fieldset>.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.editWrite>form>fieldset>.bottom>.bottom__left {
    display: flex;
    align-items: center;
    padding: 15px;
}

.editWrite>form>fieldset>.bottom>.bottom__left>label {
    display: flex;
    margin-right: 0.5rem;
    cursor: pointer;
}

.editWrite>form>fieldset>.bottom>.bottom__left>label>svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

.editWrite>form>fieldset>.bottom>.bottom__left>span {
    font-size: 0.8rem;
    color: #B8BAC1;
    line-height: -1;
}

.editWrite>form>fieldset>.bottom>.bottom__left>input {
    display: none;
}

.editWrite>form>fieldset>.bottom>div>button {
    width: 130px;
    height: 55px;
    color: var(--white);
    background-color: #0057FF;
    cursor: pointer;
}

/* boardwrite */

.board__detail.write {}


/* 게시판 카테고리 */
.board__detail.write #link {
    width: 100px;
    font-size: 0.8rem;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.board__detail.write #link option {
    font-size: 0.8rem;
    background: var(--white);
    color: var(--black);
}

.board__detail.write input {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    background-color: #fafafa;
    padding: 10px 15px;
    width: 30%;
    min-width: 300px;
}

.board__detail.write textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    background-color: #fafafa;
    resize: none;
    margin-bottom: 20px;
}

.board__detail.write .bottom {
    display: flex;
    justify-content: space-between;
}

.board__detail.write .bottom .bottom__left {
    display: flex;
    align-items: center;
}

.board__detail.write .bottom .bottom__left .preview {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    border: 2px solid var(--gray);
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-size: contain !important;
}

.board__detail.write .bottom .bottom__left>span {
    margin-left: 10px;
    font-size: 14px;
    color: var(--gray);
}

.board__detail.write .bottom .bottom__left>label>span {
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.board__detail.write .bottom .bottom__left>label>span>svg {
    width: 100%;
    height: 100%;
}


.board__detail.write fieldset .profill__left {
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.board__detail.write fieldset {
    border: none;
}

.board__detail.write .btnWrap {
    text-align: right;
}

.board__detail.write .list {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--black);
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.board__detail.write .writebtn {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    background-color: #0057FF;
    margin-left: 15px;
    cursor: pointer;
}

@media(max-width: 1000px) {}

@media(max-width: 600px) {

    #boardList,
    #boardDetail {
        padding: 130px 0 0;
    }

    .board__search {
        display: block;
    }

    .board__search>.search__right>form>fieldset>input {
        width: 100%;
    }

    .board__btn {
        display: block;
    }

    .board__btn>.nav__right>.nav__write {
        padding: 10px 50px;
        text-align: center;
        margin-top: 10px;
    }

    .board__list>ul>li {
        padding: 15px 10px;
    }

    .board__btn .nav__left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .board__list>ul>li>.list__left>.left__title>a>.title>h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .board__list>ul>li>.list__left>.left__desc>.boardImg {
        display: none;
    }

    .board__list>ul>li>.list__left>.left__info>.info__right>p>i {
        display: none;
    }

    .board__list>ul>li>.list__left>.left__desc>p>a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    /* boardDetail */
    .board__detail {
        padding: 20px;
    }

    .boardWrap {
        padding: 40px 10px;
    }

    .board__detail>.title>p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .board__detail>.profill {
        display: block;
    }

    .board__detail>.profill>.profill__left {
        margin-bottom: 5px;
    }

    .board__detail>.desc {
        flex-direction: column-reverse;
    }

    /* reple */
    .commentWrite>form>fieldset>textarea {
        padding: 10px;
        height: auto !important;
    }
}