/* mypage__info */
#mypage {
    padding: 55px 0 0 55px
}

.mypage__info {
    width: 100%;
    height: 460px;
    background: linear-gradient(to bottom, #060606 0%, #6282A7 100%);
    display: flex;
    position: relative;
    overflow: hidden;
}

.mypage__info::before {
    background-image: url(../../img/detail_cloud.png);
    position: absolute;
    content: '';
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.mypage__info::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #6282a700 0%, #6282A7 100%);
}

.mypage__info .left {
    width: 25.2604vw;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

.mypage__info .left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 30px);
    min-width: 250px;
    background-image: url(../../img/faceon_son2.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    opacity: 0.7;
}

.mypage__info .left .profile {
    position: relative;
}

.mypage__info .left .profile label {
    width: 9.6354vw;
    height: 9.6354vw;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.mypage__info .left .profile label span svg {
    opacity: 0;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.mypage__info .left .profile label span::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.mypage__info .left .profile label span:hover::before {
    opacity: 1;
}

.mypage__info .left .profile label span:hover svg {
    opacity: 0.7;
}

.mypage__info .left .profile label span svg {
    opacity: 0;
    fill: rgba(255, 255, 255, 0.7);
}

.mypage__info .left .profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mypage__info .left .profile button {
    position: absolute;
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0f0f0f;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
}

.mypage__info .right {
    width: calc(100% - 25.2604vw);
    height: 100%;
    z-index: 2;
    padding-top: 52px;
    padding-left: 5px;
}


.mypage__info .right .info {
    margin-top: 15px;
}

.mypage__info .right .info h1 {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ccc;
}

.mypage__info .right .info p {
    margin-top: 5px;
    font-size: 1.8rem;
    color: var(--white);
    display: block;
}

.mypage__info .right .info .teams__logo {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.mypage__info .right .info .teams__logo .logo {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* mypage__content */
.mypage__content {
    width: 100%;
    background-color: #fff;
    height: 100%;
}

.mypage__content .mypage__top {
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #B8BAC1;
    padding: 0px 32px;
}

.mypage__content .mypage__top ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mypage__content .mypage__top ul>li {
    padding: 10px 20px;
    font-size: 1rem;
    color: #B8BAC1;
    cursor: pointer;
}

.mypage__content .mypage__top ul>li:hover {
    color: #5983FF;
}

.mypage__content .mypage__top ul>li.active {
    color: #5983FF;
    font-weight: 600;
    position: relative;
}

.mypage__content .mypage__top ul>li.active::before {
    content: '';
    width: 40%;
    height: 4px;
    background-color: #5983FF;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.right__text {
    display: flex;
    color: #B8BAC1;
    text-align: center;
    gap: 30px;
}

.right__text a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right__text span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right__text svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.mypage__bottom .mypage__title {
    width: 100%;
    height: 60px;
    padding: 0px 50px 0 32px;
    border-bottom: 1px solid #B8BAC1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mypage__title .left__text {
    font-size: 1.5rem;
    font-weight: 900;
}

.mypage__title .right__text {
    color: #B8BAC1;
    font-weight: 700;
}

.match__result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.match__result .match__box {
    display: flex;
    width: 48%;
    height: 160px;
    margin: 1%;
    background: linear-gradient(to top, #000000 0%, #262E50 100%);
    border-radius: 25px;
    padding: 15px;
}

.match__result .match__box .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.match__result .match__box .left h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.match__result .match__box .left p {
    color: #646F9B;
    line-height: 1;
    font-weight: 600;
}

.match__result .match__box .right {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;

}

.match__box .right .team {
    color: var(--white);
    gap: 5px;
    position: relative;
}

.match__box .right .team .logo {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.match__box .right .team .name {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -1px;
    display: inline-block;
}

.myteam::before {
    position: absolute;
    content: 'MYTEAM';
    font-size: 0.8rem;
    color: var(--white);
    top: -15px;
    letter-spacing: normal;
}

.match__result .match__box.result {
    background: linear-gradient(to top, #000000 0%, #263364 100%);
}

.match__box .right .team.win::before {
    position: absolute;
    z-index: 0;
    content: 'WIN';
    font-size: 5vw;
    bottom: 0;
    left: 0;
    color: #7D8DBC;
    opacity: 0.1;
    letter-spacing: normal;
}

.match__box .right .team.lose::before {
    position: absolute;
    z-index: 0;
    content: 'LOSE';
    font-size: 5vw;
    bottom: 0;
    right: 0;
    color: #FF3535;
    opacity: 0.1;
    letter-spacing: normal;
}

.mypage__bottom {
    width: 100%;
    padding-top: 30px;
}

.mypage__board {
    width: 100%;
    height: 100%;
}

.mypage__board .list__wrap {
    width: 95%;
    margin: 0 auto;
}

.mypage__board .list__wrap .list {
    width: 100%;
    padding: 15px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.mypage__board .list__wrap .list:hover {
    color: #8d8d8d;
    background-color: #f8f8f8;
}

.mypage__board .list__wrap .list .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mypage__board .list__wrap .list .left .img {
    width: 50px;
}

.mypage__board .list__wrap .list .left .img img {
    object-fit: contain;
    padding: 3px;
}

.mypage__board .list__wrap .list .left .number {
    display: inline-block;
    font-size: 20px;
}

.mypage__board .list__wrap .list .left .title {
    display: inline-block;
    font-weight: 700;
    margin-right: 2vw;
}

.mypage__board .list__wrap .list .left .content {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mypage__board .list__wrap .list .left span {
    color: #3694ff;
    font-weight: 700;
}

.mypage__board .list__wrap .list .right {
    width: 120px;
    text-align: right;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.mypage__board .list__wrap .list .right .date {
    display: inline-block;
}

.mypage__board .list__wrap .list .right .view {
    display: inline-block;
    display: flex;
    align-items: center;
}

.mypage__board .list__wrap .list .right .view svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* 마이페이지 댓글리스트 */
.mypage__board .reple__wrap {
    width: 60%;
    margin: 0 auto;
}

.mypage__board .reple__wrap .list {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    background-color: #F4F7F8;
    border-radius: 50px;
    margin-bottom: 10px;
}

.mypage__board .reple__wrap .list .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #ffffff;
    margin-right: 15px;
}

.mypage__board .reple__wrap .list .content {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mypage__board .reple__wrap .list .date {
    display: inline-block;
    font-size: 12px;
    color: #acacac;
    text-align: right;
    margin-right: 10px;
}

@media (max-width:1000px) {
    .mypage__board .list__wrap {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }

    .mypage__board .list__wrap .list {
        width: 48%;
        height: 100px;
        flex-direction: column;
        justify-content: center;
    }

    .mypage__board .list__wrap .list .left .content {
        width: 100px;
    }

    .mypage__board .list__wrap .list .left {
        width: 100%;
        justify-content: space-between;
        height: 50px;
        gap: 0px;
    }

    .mypage__board .list__wrap .list .left .title {
        margin-right: 0;
    }

    .mypage__board .list__wrap .list .right {
        width: 100%;
    }

    .mypage__info .left::before {
        background-position: bottom center;
    }

    .mypage__info {
        height: 310px;
    }

    .mypage__info .left {
        width: 50%;
    }

    .mypage__info .right {
        width: 50%;
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
    }

    .mypage__info .right .info {
        display: inline-block;
        height: fit-content;
    }

    .mypage__board .reple__wrap {
        width: 80%;
    }
}

@media (max-width:600px) {
    #mypage {
        padding-left: 0;
        padding-top: 170px;
    }

    .mypage__content .mypage__top ul {
        width: auto;
    }

    .mypage__content .mypage__top {
        padding: 0 5px;
    }

    .mypage__info .left::before {
        height: 100%;
        background-position: bottom left;
    }

    .mypage__info .right .info p {
        font-size: 16px;
        word-break: break-all;
    }

    .mypage__info .left .profile label {
        width: 120px;
        height: 120px;
    }

    .mypage__board .list__wrap .list .left .img {
        display: none;
    }

    .mypage__board .reple__wrap {
        width: 80%;
    }

    .mypage__content .mypage__top .right__text div {
        display: none;
    }

    .mypage__board .list__wrap .list {
        width: 95%;
        margin: 0 auto;
    }
}